.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    font-size: 26px;
}

.dialogsItem {

}

.dialog {
    padding: 0 0 20px 0;
    color: rgba(233,129,252,1);
    display: block;
    text-decoration: none;
}

.active {
    color: rgba(131, 214, 255, 1);
}

.messages {
    color: rgba(131, 214, 255, 1);
}

.message {
    padding: 0 0 10px 0;
}