.main {
    padding: 30px 15px;
}

.content {

}


@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
    .sidebar {
        margin: 0;
        grid-column: 2 / 3;
    }
}

