.header {
    grid-area: header;
    padding: 15px;
    background: rgb(131, 214, 255);
    background: linear-gradient(
            90deg,
            rgba(131, 214, 255, 1) 0%,
            rgba(233, 129, 252, 1) 100%
    );
    align-items: center;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff url("https://image.flaticon.com/icons/png/512/1369/1369773.png") center/ 50px no-repeat;

    grid-column: 2 / 3;
}




