.sidebar {
    padding: 20px;
    margin: 0px 0px 30px 0px;
}
.menu {
}
.list {
    display: block;
    vertical-align: center;
}
.list li {
    margin: 0px 0px 15px 0px;
}

.list img {
    width: 30px;
}

@media (min-width: 992px) {
    .sidebar {
        margin: 0;
        grid-column: 2 / 3;
    }
}